<form method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">
    <div class="Box">
        <label>SF State ID or Email</label>
        <input class="input" type="text" placeholder="Username" name="username" required>
        <br>
        <label>SF State Password</label>
        <input class="input" type="password" placeholder="Password" name="password" required>
        <br>
        <button class="button" type="submit"> Login </button>
        <a class="tos" href="/registration" style="color:#464666">Get help Register in</a>
    </div>
</form>